.board-background {
  display: grid;
  grid-template: repeat(8, 100px) / repeat(8, 100px);
  height: 800px;
  width: 800px;
}
.board-background__square {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 5px;
  color: rgb(172, 175, 139);
  font-size: 1.5rem;
  position: relative;
}
.board-background__square_light {
  background-color: rgb(245, 228, 182);
}
.board-background__square_dark {
  background-color: rgb(80, 64, 19);
}
/* ^^^^^^^^^^^^^^^^^^^^^^UNCOMMENT BELOW FOR .isMaybeLegal TO BE SEEN ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ ^ */


/* .board-background__square_legal {
  background-color: lightgreen;
}
.board-background__square_maybe-legal {
  background-color: pink;
}
.board-background__square_light.board-background__square_legal {
  background-color: rgba(144, 238, 144, 0.8); 
}

.board-background__square_dark.board-background__square_legal {
  background-color: rgba(0, 128, 0, 0.8); 
} */


/* ^^^^^^^^^^^^^^^^^^^^^^^UNCOMMENT ABOVE FOR .isMaybeLegal TO BE SEEN ^^^^^^^^^^^^^^^^^^^^^^^^^^^ */

/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^  */
.board-background__square_legal::after {
  content: "";
  right: 20px;
  bottom: 20px;
  width: 60px;
  height: 60px;
  background-color: rgba(128, 128, 128, 0.5); /* semi-transparent grey */
  border-radius: 50%; /* makes it circular */
  position: absolute;
  z-index: 600;
  pointer-events: none;
}